<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.qwertyuiop.asdfghjkl.App"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

    </application>

</manifest>

    <!-- TODO SET APP ICON -->
    <!-- TODO SET NAME -->